---
layout: default
title: Whitepaper - Bridging the divide
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "/resources/downloads/201806_WP_Bridging_developers_and_management.pdf"
form_id: "1002"
form_type: "resources"
cta_title: "Download the whitepaper"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the whitepaper."
success_message: "You will also receive a copy of the whitepaper sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Bridging the Divide Between Developers and Management
        %h2.page-subtitle Tips for aligning perceptions, expectations, and outcomes

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p We surveyed 5,296 global software professionals to learn about their development practices, habits, and challenges. We found that managers are more positive and optimistic than the people they lead, causing inefficient processes and delays.
            %p Software and engineering teams are under immense pressure to deliver faster. Management needs to work with their teams to better identify the significant bottlenecks in their development process, and smooth out the planning process to enable speed.

            %h3 What you'll learn in this whitepaper:
            %ul
              %li Causes for the gap between managers and developers
              %li The habits of high performing teams
              %li Recommendations for alignment

            %p Download the whitepaper to find out how your team stacks up, and recommendations on how to improve your software development flow.


        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource"
